<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <%=form.fields_for :address do |a| %>
        <div>
          <%=a.label :flat%><br>
          <%=a.text_field :flat%><br>

          <%=a.label :city%><br>
          <%=a.text_field :city%>
        </div>
    <%end%>
    <p>
      <%= form.submit %>
    </p>
<% end %>
